@import 'responsive-nav';
@import 'mixin';
@import 'reset';


// ** Global ** //

// **** Header ***** //

	header {
	max-width:100%;
	padding-top: 1px;


	h2{
	text-align: center;
	font-family: 'open-sans', helvetica, sans-serif;
	line-height: 1.5em;
	letter-spacing: .1em;
	}
	.row {
		margin: 0 auto;
	}
	nav {
	width: 100%;
	margin: 0 auto;
	font-weight: bold;
	font-size: 1.5em;
	}
	ul {
		text-align: center;
	}

}

h1 {
	font-size: 3.3em;
	font-family: helvetica, sans-serif;
	font-weight: 400;
	margin-bottom: 25px;

}
h2 {
	font-size: 2em;
	font-weight: 200;
	margin-bottom: 25px;
}

p {
	font-family: helvetica, sans-serif;
	font-weight: 100;
	font-size: 1.3em;
	line-height: 1.5em;
	padding-bottom: 1em;

}
.main-container {
	max-width: 1400px;
}

#toc {
	font-family:'Grand Hotel', helvetica, sans-serif;
	font-size: 5em;
	text-align: center;
	color: #4C3928;
	margin-top: 50px;
}
.nav-toggle {
	text-align: center;
}

// **** introduction **** //

section {
	margin-top: 50px;
}

.intro {

	width: 60%;
	margin-left: 20%;

}
#intro h1 {
	margin-right: 15%;

}
// **** color **** //
.css {
	margin-bottom: 20px;
	margin-right: 50%;
}
.row-css{
	width: 60%;
	margin-left: 20%;
	margin-top: 100px;
}


.colors p {
	text-align: center;
}

.big-box p {
	color: white;
}

.box {
		width: 5%;
    border: 5em solid #67d0f9;
    margin: 3em;
    margin-left: 30%;
		p {
			background-color: #67d0f9;
			color: white;
			text-transform: uppercase;
		}
}

.box1 {

	width: 5%;
    border: 5em solid #4C3928;
    margin: 3em;
    margin-left: 30%;
		p {
			background-color: #4C3928;
			color: white;
		}

}

.box2 {
	width: 5%;
    border: 5em solid #F28179;
    margin: 3em;
    margin-left: 30%;
		p {
			background-color: #F28179;
			color: white;
		}
}
.box3 {

	width: 5%;
    border: 5em solid #F6B97C;
    margin: 3em;
    margin-left: 30%;
		p {
			background-color: #F6B97C;
			color: white;
		}
}


// **** typography **** //
.typography {
	width: 60%;
	margin-left: 20%;
	margin-top: 100px;
}
.typography h1 {
	font-size: 3em;
}
.type {
	margin-left: 10%;
}
.typeface {
	font-family: 'Grand Hotel', helvetica, sans-serif;
	font-size: 1em;
}

.typeface p {
	font-family: 'Grand Hotel', helvetica, sans-serif;
}
.open-sans {
	font-family: 'Open Sans', sans-serif;
}
// ****Buttons**** //
.button-container {
	width: 100%;
	margin-top: 100px;
}
.buttons {
	border-radius: 1em;
	width: 60%;
	background: #67D0F9;
	border: 5px solid #4C3928;

	p {
		text-align: center;
		position: relative;
		top: 10px;

	}

}
.buttons:hover {
	background: #F4A29B;
	cursor: pointer; cursor: hand;
}





// ****Process**** //
.process {
	width: 60%;
	margin-left: 20%;
	margin-top: 100px;
}

.style {
	width: 100%;
	border: 5px solid #4C3928;
}
.main-sketch {
		padding-bottom: 100px;
}
.sketch {
	width: 100%;
	border: 5px solid #4C3928;
}
.sketch1 {
	width: 100%;
	border: 5px solid #4C3928;
}

.conclusion {
	width: 60%;
	margin-left: 20%;
	padding-top: 50px;
}


@media screen and (min-width:500px){

	.buttons {
		width: 30%;
	}

	nav {
		width: 100%;
	}
	nav li {
			display: inline-block;
	 		margin: 0 auto;
      line-height: 50px;
			padding: 0 40px;

	}


}

@media screen and (min-width:1000px){

// Color //
	.colors{
		width: 100%;
		text-align: center;
	}
	.color p {
		text-align: center;
	}

	.box {
	width: 100px;
	display: inline-block;
	margin: 100px 10px 10px 0;
	}

	.box1 {
	width: 100px;
	display: inline-block;
	margin: 10px 10px 10px 0;
	}

	.box2 {
	width: 100px;
	display: inline-block;
	margin: 10px 10px 10px 0;
	}

	.box3 {
	width: 100px;
	display: inline-block;
	margin: 10px 10px 10px 0;
	}

// ***** //

	.buttons {
		width: 30%;
	}

	.typography{
		clear: both;
	}

// sketch //

.main-sketch {
	width: 100%;
	display: inline-block;

}
.sketch {
	width: 300px;
	display: inline-block;
	margin: 20px 20px;
}
.sketch1 {
	width: 300px;
	display: inline-block;
	margin: 20px 5px;
}
// style tile //
	.style-tile{

	}



}
